.order_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  letter-spacing: -0.02em;

  color: #092326;

  &_title {
    font-weight: 400;
    font-size: 14px;

    .order_info {
      padding-left: 20px;
    }
  }

  .grid_block {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;

    .eth_number {
      padding: 16px 20px;

      border-radius: 8px;
    }

    .usdt_number {
      display: flex;
      align-items: center;
    }
  }
}
