.container {
  margin: calc(44 / 1313 * 100%) calc(70 / 1440 * 100%) calc(86 / 1313 * 100%);

  min-height: 864px;

  display: grid;
  grid-template-columns: calc(970 / 1300 * 100%) calc(310 / 1300 * 100%);
  grid-gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
