@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@font-face {
  font-family: "Gilroy Regular";
  src: url("./gilroy_font/Gilroy-Regular.eot");
  src: url("./gilroy_font/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./gilroy_font/Gilroy-Regular.woff") format("woff"),
    url("./gilroy_font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./gilroy_font/fonts/gilroy-bold.eot");
  src: url("./gilroy_font/fonts/gilroy-bold.eot?#iefix")
      format("embedded-opentype"),
    url("./gilroy_font/fonts/gilroy-bold.woff2") format("woff2"),
    url("./gilroy_font/fonts/gilroy-bold.woff") format("woff"),
    url("./gilroy_font/fonts/gilroy-bold.ttf") format("truetype"),
    url("./gilroy_font/fonts/gilroy-bold.svg#gilroy-bold") format("svg");
}

body {
  background: #f0f5f5;
}

h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;

  letter-spacing: -0.02em;

  color: #092326;
  user-select: none;
}

.root {
  background: url("../source/Ellipse169background.svg") 69% 25% / auto auto
      round,
    url("../source/Ellipse170background.svg") 15% 62% / auto auto round,
    url("../source/Ellipse171background.svg") 75% 6% / auto auto round;
  animation: chaos 40s linear infinite;
}

@keyframes chaos {
  0% {
    background-position: 0% 38%;
  }
  10% {
    background-position: 46% 24%;
  }
  20% {
    background-position: 94% 12%;
  }
  30% {
    background-position: 36% 89%;
  }
  40% {
    background-position: 14% 49%;
  }
  50% {
    background-position: 85% 100%;
  }
  60% {
    background-position: 0% 85%;
  }
  70% {
    background-position: 53% 1%;
  }
  80% {
    background-position: 39% 15%;
  }
  90% {
    background-position: 84% -15%;
  }
  100% {
    background-position: 0% 38%;
  }
}
